#map {
	height: 450px;
	position: absolute;
}

/*#errorMessage {
	position: absolute;
	top: 400px;
	margin: auto;
	vertical-align: center;
	height: 30px;
	width: 300px;
	background-color: white;
}*/

/* div to wrap infowindow in to hide it off-screen */
/*.outer {
	overflow: hidden;
	position: relative;
}

#infoWindow {
	position: absolute;
	height: 200px;
	padding: 15px;
	right: -50px;
	top: -200px;
}*/

li {
	list-style: none;
	width: 100%;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	text-align: left;
}

h1 {
	margin-top: 10px;
}

h2 {
	margin-top: 0px;
	padding-right: 10px;
}

.nameAddressPhone {
	margin-left: 10px;
	padding-right: 10px;
	max-width: 100%;
}

.url {
	padding-left: 15px;
}

.searchBar {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 15px;
	width: 100%;
}

.form-control {
	width: 90%;
	border: 1px solid black;/*
	padding: 10px;*/
	margin: 10px;
}

.infoPic {
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

/*.placeList {
	position: absolute;
	left: -200px;
	width: 200px;
	height: 100px;
}*/

.hamburger {
	/*float: left;*/
	/*margin-left: 10px;*/
	margin-top: 5px;
	display: inline-block;
	padding: 2em;
	margin: -1em;
}

.placeListVisible {
	display: none
}

.open {
	display: block;/*
	left: 300px;*/
	color: red;
	margin: 10px;
}