html,
body {
    height: 100%;
}

header {
    height: 100px;
}

.moveContainer {
    margin-left: 100px;
    margin-top: 200px;
    position: absolute;
}

.map {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.header {
    position: absolute;
}

.moveMap {
    left: 150px;
}

.hideTitle {
    display: none;
}

li {
    display: inline-block;
    list-style: none;
    width: 100%;
}

ul {
    line-height: 2;
    padding-left: 0px;
    text-align: left;
}

h3 {
    padding-top: 15px;
}

.form-control {
    border: 1px solid black;
    width: 90%;
}

.moveSearch {
    left: 0px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    width: 120px;
}

.infoWindow {
    max-width: 350px;
}

.infoPic {
    width: 100px;
}

.hamburger {
    margin: -1em;
    padding-left: 15px;
}

.hideHamburger {
    display: none;
}

.placeListVisible {
    display: none
}

.placeList {
    font-size: 90%;
    padding-right: 15px;
    padding-top: 15px;
}

.open {
    display: block;
    max-width: 150px;
    padding-left: 15px;
    top: 15px;
}